@use "./variables" as v;
@use "./mixin" as m;
/*-========  common =======-*/
.contact-number {
  font-size: 18px;
  font-weight: v.$font-weight-bold;
  @include m.device-425px {
    display: none;
  }
}
p {
  color: v.$gray-800;
  font-size: 18px;
  font-weight: v.$font-weight-medium;
  line-height: 28px;
}

.form-control {
  &:focus {
    border: initial;
    box-shadow: initial;
  }
}
.bg-none {
  background: none !important;
}
// gap-5
.gap-5 {
  @include m.laptop_m {
    gap: 16px !important;
  }
}

// close btn

.close--btn {
  width: 26px;
  height: 26px;
  @include m.transition(0.4s);
  cursor: pointer;

  &:hover {
    @include m.transform(rotate(180deg));
    path {
      fill: v.$primary-color;
    }
  }
}
.custom-animate {
  animation: custom-animate 1s forwards cubic-bezier(0.645, 0.045, 0.355, 1)
    0.4s;
  opacity: 0;
}

.custom-animate-two {
  animation: custom-animate-two 1s forwards
    cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

.custom-animate-three {
  animation: custom-animate-three 1s forwards
    cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

.animate__animated{
  animation-duration: 0.6s !important; /* Default is often 1s */
}
.auto-bounce {
  animation: auto-bounce 3s infinite;

  -webkit-animation: auto-bounce 3s infinite;
}