@use "./variables" as v;
@use "./mixin" as m;
/*-========  common =======-*/
.contact-number {
  font-size: 18px;
  font-weight: v.$font-weight-bold;
  @include m.device-425px {
    display: none;
  }
}
p {
  color: v.$gray-800;
  font-size: 18px;
  font-weight: v.$font-weight-medium;
  line-height: 28px;
}

.form-control {
  &:focus {
    border: initial;
    box-shadow: initial;
  }
}
.bg-none {
  background: none !important;
}
