@keyframes MovefadeUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.MovefadeUp {
  -webkit-animation-name: MovefadeUp;
  animation-name: MovefadeUp;
}

// Ripple Animate
@-webkit-keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes ripple {
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

// Pulse Animated
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(23, 26, 43, 0.5);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5);
  }
}

@-moz-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(23, 26, 43, 0.5);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5);
  }
}

@-ms-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(23, 26, 43, 0.5);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(23, 26, 43, 0.5);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5);
  }
}

// Animate Line Bar
@-webkit-keyframes animatelinebar {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
  }
}

@keyframes animatelinebar {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
  }
}

// Slide Up Down

@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(40px);
  }

  100% {
    -webkit-transform: translateY(0);
  }

  0% {
    -webkit-transform: translateY(40px);
  }
}

@keyframes slideUpIn {
  0% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0);
  }

  0% {
    transform: translateY(40px);
  }
}

//  Animated Left Right
@-webkit-keyframes MoveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}
@keyframes MoveLeftRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-20px);
  }
}

// Animated Top Bottom
@-webkit-keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

// Animated Left Right
@-webkit-keyframes Animated3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes Animated3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
// Animated Left Right
@-webkit-keyframes Animated4 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
@keyframes Animated4 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

//Up To Down
@keyframes UpToDown {
  49% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
// Marquee
@keyframes Scroll {
  0% {
    transform: translateX(-50vw);
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(50vw);
    transform: translateX(50vw);
  }
}
@-webkit-keyframes Scroll {
  0% {
    transform: translateX(-50vw);
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(50vw);
    transform: translateX(50vw);
  }
}

// Rotate
@keyframes spin {
  100% {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(359deg);
  }
}

@keyframes borderAnimation {
  from {
    background-position: 0 0, -23px 0, 100% -23px, 0 100%;
  }
  to {
    background-position: 0 -23px, 0 0, 100% 0, -23px 100%;
  }
}
@-webkit-keyframes borderAnimation {
  from {
    background-position: 0 0, -23px 0, 100% -23px, 0 100%;
  }
  to {
    background-position: 0 -23px, 0 0, 100% 0, -23px 100%;
  }
}
@keyframes custom-animate {
  0% {
    transform: translateX(-5%);
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@-webkit-keyframes custom-animate {
  0% {
    transform: translateX(-5%);
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes custom-animate-two {
  0% {
    transform: translateY(-5%);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@-webkit-keyframes custom-animate-two {
  0% {
    transform: translateY(-5%);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@keyframes custom-animate-three {
  0% {
    transform: translateY(-5%);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }

  100% {
    transform: translateY(-50%);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

@-webkit-keyframes custom-animate-three {
  0% {
    transform: translateY(-5%);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }

  100% {
    transform: translateY(-50%);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
@keyframes auto-bounce {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes auto-bounce {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes scrollright {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes scrollright {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes rotate-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
