$primary-color: #573db8;
$secondary: #8fd45f;
$text-color: #616670;
$white: #ffffff;
$gray-100: #f7f1fc;
$gray-200: #ececec;
$gray-700: #2e3137;
$gray-800: #716f73;
$gray-900: #07000e;
$black-800: rgba(7, 0, 14, 0.8);
$color-1: #031f42;
$color-2: #f8f2fc;
$color-3: #ffb34e;
$color-4: #6850bf;
$color-05: rgba(255, 255, 255, 0.1);
$color-06: rgba(255, 255, 255, 0.3);
$color-07: rgba(236, 236, 236, 1);
$color-08: rgba(7, 0, 14, 1);
$color-09: rgba(143, 212, 95, 0.2);
$text-primary: #4566d4;
$text-gray-light: #6a6c73;
$border-color: #e3e3e3;
$border-color-02: rgba(7, 0, 14, 0.2);
$border-color-03: #cdcccf;
$border-color-04: rgba(0, 0, 0, 0.2);
$border-color-05: #3f3a3d;
$border-color-06: rgba(255, 255, 255, 0.2);
$border-color-07: rgba(7, 0, 14, 0.4);

// google font
$theme-font: "DM Sans", serif;

/*==== font weight ====*/
$font-weight-extra-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
