$primary-color: #573db8;
$secondary: #8fd45f;
$text-color: #616670;
$white: #ffffff;
$gray-100: #f7f1fc;
$gray-800: #716f73;
$gray-900: #07000e;
$color-1: #031f42;
$text-primary: #4566d4;
$text-gray-light: #6a6c73;
$border-color: #e3e3e3;
$border-color-02:rgba(7, 0, 14, 0.2);


// google font
$theme-font: "DM Sans", serif;


/*==== font weight ====*/
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;

