@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== video-box =======-*/
.video-box {
  &.style-two {
    position: relative;
    img {
      width: 100%;
      @include m.border-radius(20px);
    }
    .play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      @include m.transform(translate(-50%, -50%));
      text-align: center;
      font-size: 36px;
      color: v.$white;
      cursor: pointer;

      .play-icon {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include m.border-radius(50px);
        @include m.transform(translate(-50%, -50%));
        text-align: center;
        font-size: 36px;
        line-height: 80px;
        background: v.$primary-color;
        color: v.$white;
        opacity: 1;
        animation: 2s ease pulse infinite;
        @include m.device-375px {
          width: 50px;
          height: 50px;
          line-height: 50px;
          font-size: 28px;
        }
      }
    }
  }
}
