@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== client-box =======-*/
.card-wrapper {
  &.style-three {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    .card-item {
      display: flex;
      align-items: center;
      text-align: center;
      position: relative;
      width: 400px;
      height: 400px;
      @include m.border-radius(50%);
      border: 1px solid v.$border-color-03;
      background: v.$color-2;
      overflow: hidden;
      margin-top: 30px;

      @include m.md {
        width: 330px;
        height: 330px;
      }
      @include m.device-375px {
        width: 288px;
        height: 288px;
      }
      .card-img {
        position: relative;

        img {
          position: relative;
          height: 400px;

          @include m.md {
            width: 300px;
            height: 330px;
          }
          @include m.device-375px {
            width: 236px;
            height: 280px;
          }
        }

        .card-wrap {
          position: absolute;
          bottom: -92px;
          left: 0;
          width: 400px;
          height: 200px;
          background: v.$primary-color;
          border-top-left-radius: 200px;
          border-top-right-radius: 200px;
          @include m.md {
            width: 330px;
            height: 210px;
            border-top-left-radius: 150px;
            border-top-right-radius: 150px;
          }
          @include m.device-375px {
            width: 288px;
            height: 200px;
          }
          .media-wrapper {
            .media-wrap {
              position: absolute;
              left: 50%;
              top: -22px;
              background: v.$white;
              width: 50px;
              height: 50px;
              line-height: 50px;
              border-radius: 50%;
              @include m.transform(translateX(-50%));
              @include m.transition(0.4s);
              cursor: pointer;
              font-size: 16px;
              &:hover {
                background: v.$secondary;
              }
            }

            .shear-media {
              position: absolute;
              top: -45%;
              left: 50%;
              background: #ffffff;
              padding: 20px 12px;
              @include m.transform(translate(-50%, -50%));
              @include m.border-radius(50px);
              @include m.transition(0.4s);
              opacity: 0;
              font-size: 16px;
              overflow: hidden;
              display: none;
            }
            &:hover {
              .shear-media {
                opacity: 1;
                overflow: visible;
                display: block;
              }
            }
          }
          .card-content {
            .card-title {
              font-size: 24px;
              font-weight: v.$font-weight-bold;
              padding-top: 40px;
              color: v.$white;
              @include m.device-375px {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
