@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== client-box =======-*/
.card-wrapper {
  &.style-one {
    display: grid;
    overflow: hidden;
    .grid-item {
      width: 100%;
      display: grid;
      grid-column-gap: 0;
      @include m.device-480px {
        display: block;
      }
      &.grid-one {
        grid-template-columns: 34% 66%;
        border-bottom: 1px solid v.$border-color-02;
        @include m.device-480px {
          border: 0;
        }
        @include m.xl {
          grid-template-columns: 36% 44%;
        }
        @include m.lg {
          grid-template-columns: 46% 54%;
        }

        @include m.md {
          grid-template-columns: 46% 54%;
        }
        @include m.device-768px {
          grid-template-columns: 50% 50%;
        }
        @include m.sm {
          grid-template-columns: 50% 50%;
        }
        @include m.device-480px {
          border: 0px;
        }
        .card-item {
          &:nth-child(1) {
            border-right: 1px solid v.$border-color-02;
          }
        }
      }

      &.grid-two {
        grid-template-columns: 25% 37% 37%;
        @include m.xl {
          grid-template-columns: 24% 38% 38%;
        }
        @include m.lg {
          grid-template-columns: 10% 45% 45%;
        }
        @include m.md {
          grid-template-columns: 50% 50%;
        }
        @include m.device-768px {
          grid-template-columns: 50% 50%;
        }
        @include m.sm {
          grid-template-columns: 50% 50%;
        }
        .card-item {
          &:nth-child(1) {
            width: 350px;
            @include m.md {
              display: none;
            }
            @include m.device-768px {
              display: none;
            }
            @include m.sm {
              display: none;
            }
          }

          &:nth-child(2) {
            border-right: 1px solid v.$border-color-02;
            border-left: 1px solid v.$border-color-02;
            @include m.md {
              border-left: 0;
            }
            @include m.device-768px {
              border-left: 0;
            }
            @include m.sm {
              border-left: 0;
            }
            @include m.device-480px {
              border-right: 0;
              border-left: 0;
            }
          }
        }
      }
      .card-item {
        padding: 40px;
        @include m.sm {
          padding: 20px !important;
        }
      
        .card-content {
          width: 410px;
          @include m.xl {
            width: 100%;
          }
          @include m.lg {
            width: 100%;
          }
          @include m.md {
            width: 100%;
          }
          @include m.sm {
            width: 100%;
          }

          .card-heading {
            .card-title {
              font-size: 24px;
              font-weight: v.$font-weight-bold;
              padding-bottom: 20px;
              .text-number {
                color: v.$white;
                -webkit-text-stroke: 1px v.$gray-800;
              }
            }
          }
        }
      }
    }
  }
}
