@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== client-box =======-*/
.lates-project-area{
  padding-top: 130px;
  padding-bottom: 135px;

  &.style-page{
    padding-bottom: 0;
    .porject-card-wrapper {
      &.style-one {
        .card-item {
          padding-top: 5px;
          margin-bottom: 40px;

          @include m.md{
            margin-bottom: 30px;
          }
          @include m.sm{
            margin-bottom: 30px;
          }

          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    } 

    .col-lg-6{
      &:first-child{
        .porject-card-wrapper{
           &.style-one {
              .card-item {
                &:last-child{
                   @include m.sm{
                      margin-bottom: 30px;
                    }
                }
              }
            }
        } 
      }
    }
  }
}

.porject-card-wrapper {
  &.style-one {
    .card-item {
      padding-top: 60px;
      @include m.transition(0.4s);
      margin-left: 40px;
      @include m.border-radius(20px);
      @include m.laptop_m_three {
        margin-left: 20px;
      }
      @include m.sm {
        margin-left: 0;
        padding-top: 47px;
      }
      .card-img {
        position: relative;
        overflow: hidden;
        @include m.transition(0.4s);
        border-radius: 20px;

        &:hover{
          img{
            transform: scale(1.05);
          }
        }

        img {
          position: relative;
          width: 100%;
          @include m.transition(0.4s);
          border: 1px solid transparent;
          @include m.border-radius(20px);
          &.left-img {
            height: 100%;
          }
          &.right-img {
            height: 100%;
          }
        }
        .card-meta {
          position: absolute;
          top: 20px;
          left: 20px;
          padding: 6px 20px;
          background: v.$gray-900;
          @include m.border-radius(50px);
          font-weight: v.$font-weight-medium;
          color: v.$white;
        }
      }
      .card-content {
        a {
          @include m.transition(0.4s);

          color: v.$gray-900;
          &:hover {
            color: v.$primary-color;
          }
        }
        .card-title {
          font-size: 24px;
          font-weight: v.$font-weight-bold;
          margin-top: 20px;
        }
      }

      &:hover {
        img {
          border-color: v.$primary-color;
        }

        .card-meta {
          background: v.$primary-color;
        }
      }
    }
  }
}



