@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== sidebar style-one  =======-*/

.basic-pagination{
  margin-top: 60px;

  ul {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    @include m.md{
      margin-top: -30px;
    }
    @include m.sm{
      margin-top: -40px;
      gap: 10px;
    }
    @include m.xs{
      gap: 5px;
      margin-top: -25px;
    }
    
      li {
        
        &.active {
          a {
            color: v.$white;
            background: v.$primary-color;
          }
        }
  
        a, span {
          @include m.border-radius(50%);
          border: 1px solid v.$border-color;
          width: 50px;
          height: 50px;
          font-size: 24px;
          font-weight: v.$font-weight-bold;
          color: v.$gray-900;
          padding: 0;
          text-align: center;
          line-height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include m.transition(0.5s);

          @include m.sm{
            height: 40px;
            width: 40px;
            font-size: 20px;
          }
          @include m.xs{
            height: 35px;
            width: 35px;
            font-size: 18px;
          }
  
          svg {
            width: 14px;
            path {
              color: v.$primary-color;
            }
          }
          &:focus {
            color: 0 !important;
            background-color: initial;
            box-shadow: none !important;
          }
          &:hover {
            color: v.$white;
            background: v.$primary-color;
            svg {
              path {
                color: v.$white;
              }
            }
          }
        }

        span{
          &.current{
            color: v.$white;
            background: v.$primary-color;
          }
        }
      }
    
  }
}

