@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== slider  =======-*/
.slider-wrapper {
  &.style-seven {
    .slider-carousel {
      .owl-stage-outer {
        position: relative;
        padding-bottom: 110px;
      }
      .owl-nav {
        position: relative;
        padding: 10px 25px;
        border: 1px solid v.$color-07;
        display: flex;
        justify-content: space-between;
        @include m.border-radius(20px);
        @include m.device-375px {
          padding: 12px 20px;
        }
        .owl-prev,
        .owl-next {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 14px;
          background: none !important;

          svg {
            width: 18px;
            height: 18px;
            @include m.border-radius(50%);
            @include m.transition(0.5s);
            background: v.$gray-100;
            padding: 18px;
            path {
              fill: v.$primary-color;
            }
            &:hover {
              background: v.$primary-color;
              path {
                fill: v.$white;
              }
            }
          }
          p {
            font-size: 24px;
            font-weight: v.$font-weight-bold;
            color: v.$gray-900;
            @include m.device-375px {
              display: none;
            }
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          height: 50px;
          width: 1px;
          background: v.$primary-color;
          @include m.transform(translate(-50%, -50%));
          @include m.device-425px {
            display: none;
          }
        }
      }
    }
  }
}
