@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== slider  =======-*/
.slider-wrapper {
  &.style-four {
    .slider-carousel {
      position: relative;
      .owl-stage-outer {
        .owl-stage {
          .owl-item {
            .slider-item {
              position: relative;
              @include m.md {
                height: 320px;
              }

              @include m.sm {
                height: 320px;
              }
              .slider-img {
                position: relative;
                width: 100%;
                @include m.md {
                  height: 100%;
                }
                @include m.sm {
                  height: 100%;
                }
                @include m.xs {
                  height: 100%;
                }
                img {
                  position: relative;
                  width: 100%;
                  border-top-left-radius: 20px;
                  border-top-right-radius: 20px;

                  @include m.md {
                    height: 100%;
                  }
                  @include m.sm {
                    height: 100%;
                  }
                  @include m.xs {
                    height: 100%;
                  }
                }
                .slider-content {
                  position: absolute;
                  right: 25px;
                  top: 50%;
                  @include m.transform(translateY(-50%));
                  @include m.rmaxwd(1440) {
                    right: 200px;
                  }
                  @include m.sm {
                    right: 25px;
                  }
                }
              }
            }
          }
        }
      }
      .owl-nav {
        margin-top: 0 !important;
        .owl-prev,
        .owl-next {
          position: absolute;
          top: 50%;
          background: none !important;
          width: 80px;
          height: 80px;
          @include m.border-radius(50%);
          font-size: 18px;
          font-weight: v.$font-weight-bold;
          color: v.$gray-900;
          border: 1px solid v.$color-07;
          text-align: center;
          line-height: 72px;
          @include m.rmaxwd(1440) {
            border: 0;
            background: v.$primary-color !important;
            color: v.$white;
          }
          @include m.sm {
            bottom: -50px;
            top: inherit;
          }
          @include m.sm {
            height: auto;
            width: fit-content;
            @include m.border-radius(20px);
            line-height: 18px;
            padding: 9px 16px;
            border-color: v.$gray-900;
          }
          &:hover {
            border-color: v.$primary-color;
          }
        }
        .owl-prev {
          left: -125px;
          @include m.rmaxwd(1440) {
            left: 15px;
          }
          @include m.sm {
            left: 30%;
          }
          @include m.device-425px {
            left: 25%;
          }
          @include m.device-375px {
            right: 15%;
          }

          // @include m.md {
          //   left: 36%;
          // }
          // @include m.xs {
          //   left: 0%;
          // }
        }
        .owl-next {
          right: -125px;
          @include m.rmaxwd(1440) {
            right: 15px;
          }
          @include m.sm {
            right: 30%;
          }
          @include m.device-425px {
            right: 25%;
          }
          @include m.device-375px {
            right: 15%;
          }
          // @include m.md {
          //   left: 50%;
          //   right: 0px;
          // }
          // @include m.xs {
          //   left: initial;
          //   right: 0%;
          // }
        }
      }
    }
  }
}
