@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== tech-service =======-*/

.tech-service {
  &.style-one {
    background: v.$primary-color;
    padding: 21px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    gap: 40px;
    &:hover {
      .tech-right {
        animation-play-state: paused !important;
      }
    }

    .tech-right {
      display: flex;
      align-items: center;
      gap: 40px;
      &.scrollright {
        animation: scrollright 40s linear infinite;
      }
    }

    .tech-item {
      display: flex;
      gap: 40px;
      @include m.laptop_m_four {
        justify-content: center;
        text-align: center;
      }
      @include m.md {
        justify-content: center;
        text-align: center;
      }
      @include m.sm {
        justify-content: center;
        text-align: center;
        @include m.device-320px {
          gap: 11px;
        }
      }
      .tech-icons {
        position: relative;
        line-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background: v.$color-05;
        border-radius: 50%;
        flex-shrink: 0;
        @include m.xs {
          width: 70px;
          height: 70px;
          line-height: 65px;
        }
      }
      .tech-title {
        font-size: 74px;
        font-weight: v.$font-weight-bold;
        color: v.$white;
        @include m.lg {
          font-size: 65px;
        }
        @include m.xs {
          font-size: 42px;
          line-height: 80px;
        }
        @include m.device-320px {
          font-size: 36px;
        }
      }
    }
  }
}
