@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== card =======-*/
.team-card-wrapper {
  &.style-two {
    .card-item {
      position: relative;
      .card-img {
        background: v.$white;
        padding: 42px 42px 0px 42px;
        position: relative;
        display: flex;
        @include m.border-radius(20px);
        width: 410px;
        height: 413px;
        @include m.xl {
          width: 100%;
        }
        @include m.laptop_m_three {
          width: 100%;
        }
        @include m.sm {
          height: 300px;
        }
        @include m.xs {
          height: 300px;
        }
        .media-wrapper {
          position: absolute;
          right: 20px;
          bottom: -4px;
          .media-wrap {
            position: relative;
            z-index: 2;
            width: 50px;
            height: 50px;
            line-height: 50px;
            border-radius: 50%;
            @include m.transition(0.4s);
            cursor: pointer;
            font-size: 16px;
            background: v.$gray-100;
            border: 1px solid v.$white;
            text-align: center;
            margin-bottom: -20px;
            margin-top: 10px;
          }

          .media-wrap-overflow {
            position: relative;
            overflow: hidden;
            margin-bottom: -42px;

            .shear-media {
              padding: 10px 0;
              width: 40px;
              background: v.$primary-color;
              text-align: center;
              @include m.border-radius(50px);
              @include m.transition(0.5s);
              font-size: 16px;
              opacity: 0;
              transform: translateY(100%);
              height: 0px;
              margin-bottom: 42px;
            }
          }
          &:hover {
            .shear-media {
              transform: translateY(0%);
              opacity: 1;
              height: 100%;
              ul {
                height: 100%;
              }
            }
          }
          ul {
            li {
              a {
                color: v.$white;
              }
              padding-top: 20px;
            }
          }
        }
        img {
          @include m.device-525px {
            width: 70%;
            margin: 0 auto;
          }
          @include m.xs {
            width: 70%;
            margin: 0 auto;
          }
        }
      }
    }
    .card-content {
      .section-heading {
        .section-title {
          font-size: 24px;
          font-weight: v.$font-weight-bold;
          color: v.$gray-900;
          padding: 20px 0 10px 0;
        }
        .section-desc {
          font-size: 18px;
          font-weight: v.$font-weight-medium;
          color: v.$gray-800;
        }
      }
    }
  }
}
