@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== client-box =======-*/
.team-card-wrapper {
  &.style-one {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px 30px;
    @include m.device-425px {
      padding-top: 15px;
    }
    .card-item {
      display: flex;
      align-items: center;
      text-align: center;
      position: relative;
      width: 400px;
      height: 400px;
      @include m.border-radius(50%);
      border: 1px solid v.$border-color-03;
      background: v.$color-2;
      overflow: hidden;
      margin-top: 30px;

      @include m.md {
        width: 330px;
        height: 330px;
      }
      @include m.device-375px {
        width: 288px;
        height: 288px;
      }

      @include m.md {
        &:nth-child(2) {
          .card-img {
            img {
              height: 315px;
            }
          }
        }
      }
      @include m.sm {
        &:nth-child(2) {
          .card-img {
            img {
              height: 380px;
            }
          }
        }
      }
      @include m.device-375px {
        &:nth-child(2) {
          .card-img {
            img {
              height: 280px;
            }
          }
        }
      }
      .card-img {
        position: relative;

        img {
          position: relative;
          height: 400px;

          @include m.md {
            width: 300px;
            height: 330px;
          }

          @include m.device-375px {
            width: 236px;
            height: 280px;
          }
        }

        .card-wrap {
          position: relative;

          .media-wrapper {
            .media-wrap {
              position: absolute;
              left: 50%;
              bottom: 80px;
              background: v.$white;
              width: 50px;
              height: 50px;
              line-height: 50px;
              border-radius: 50%;
              @include m.transform(translateX(-50%));
              @include m.transition(0.4s);
              cursor: pointer;
              font-size: 16px;
              z-index: 2;
              &:hover {
                background: v.$secondary;
              }
            }

            .shear-media {
              position: absolute;
              top: -145px;
              left: 50%;
              background: #ffffff;
              padding: 20px 12px;
              @include m.transform(translate(-50%, 100%));
              @include m.border-radius(50px);
              @include m.transition(0.6s);
              font-size: 16px;
              opacity: 0;
              visibility: hidden;
              z-index: -2;
              ul {
                li {
                  a {
                    @include m.transition(0.3s);
                    svg {
                      path {
                        fill: v.$gray-900;
                      }
                    }
                    &:hover {
                      svg {
                        path {
                          fill: v.$primary-color !important;
                        }
                      }
                    }
                  }
                }
              }
            }
            &:hover {
              .shear-media {
                opacity: 1;
                visibility: visible;
                z-index: 2;
                @include m.transform(translate(-50%, -100%));
              }
            }
          }
          .card-content {
            position: absolute;
            bottom: -92px;
            left: 0;
            width: 400px;
            height: 200px;
            background: v.$primary-color;
            border-top-left-radius: 200px;
            border-top-right-radius: 200px;
            z-index: 1;
            @include m.device-375px {
              width: 300px;
            }
            .card-title {
              font-size: 24px;
              font-weight: v.$font-weight-bold;
              padding-top: 40px;
              color: v.$white;
              @include m.device-375px {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
