@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== info card =======-*/
.info-card-wrapper {
  &.style-one {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    .card-item {
      padding: 40px 30px 40px 60px;
      border: 1px solid v.$border-color-02;
      @include m.border-radius(20px);
      position: relative;
      width: 380px;
      @include m.transition(0.3s);
      &:hover {
        border-color: v.$primary-color;
        .card-svg {
          background: v.$primary-color;
          span {            
            color: v.$white;            
          }
        }
        .more-btn {
          i,span {
            @include m.transform(rotate(45deg));
          }
        }
      }
      @include m.xl {
        width: 325px;
      }
      @include m.lg {
        width: 46%;
      }
      @include m.sm {
        width: 100% !important;
      }
      @include m.md {
        width: 100% !important;
      }
      .card-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        @include m.border-radius(50px);
        background: v.$white;
        line-height: 80px;
        text-align: center;
        position: absolute;
        left: -36px;
        top: 50%;
        @include m.transition(0.6s);
        @include m.transform(translateY(-50px));
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
        span {
            font-size: 44px;
            color: v.$primary-color;
            @include m.transition(0.6s);          
        }
       
      }
      .card-content {
        .card-title {
          font-size: 24px;
          font-weight: v.$font-weight-bold;
          margin-bottom: 20px;
        }
        .card-decs {
          font-weight: v.$font-weight-medium;
        }
        .more-btn {
          display: flex;
          margin-top: 35px;
          align-items: center;
          &:hover {
            p {
              color: v.$primary-color;
            }
            i,span {
                color: v.$primary-color;              
            }
          }
          p {
            font-size: 18px;
            font-weight: v.$font-weight-bold;
            color: v.$gray-900;
          }
          i,span {
            font-size: 20px;
            margin-left: 10px;
            @include m.transition(0.3s);
            color: v.$gray-900;
            
          }
        }
      }
    }
  }
}
