@use "../../variables" as v;
@use "../../mixin" as m;

/*-======== card =======-*/
.info-card-wrapper {
  &.style-two {
    .card-item {
      background: v.$white;
      padding: 30px;
      border: 1px solid transparent;
      @include m.transition(0.3s);
      &:hover {
        border-color: v.$primary-color;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
      @include m.border-radius(20px);
      @include m.md {
        margin-bottom: 30px;
      }
      @include m.sm {
        margin-bottom: 30px;
      }
      @include m.xs {
        margin-bottom: 30px;
      }
      .card-content {
        .section-header {
          display: flex;
          justify-content: space-between;
          align-content: center;
          gap: 18px;
          .section-title {
            font-size: 24px;
            font-weight: v.$font-weight-bold;
            flex-basis: 80%;
            margin-bottom: 20px;
          }
          .card-img {
            flex-basis: 20%;
            svg {
              path {
                fill: v.$primary-color;
              }
            }
          }
        }
        .more-btn {
          display: flex;
          margin-top: 35px;
          align-items: center;
          p {
            color: v.$gray-900;
            font-size: 18px;
            font-weight: v.$font-weight-bold;
          }
          i {            
            margin-left: 10px;
            @include m.transition(0.3s);            
            color: v.$gray-900;            
          }
        }
      }
      &:hover {
        
        .more-btn {
          p{
            color: v.$primary-color;
          }
          i {
            @include m.transform(rotate(45deg));
            color: v.$primary-color;
          }
        }
      }
    }
  }
}
