@use "./variables" as v;
@use "./mixin" as m;

/*-======== footer area =======-*/
.footer-area {
  &.style-one {
    background: v.$gray-900;
    a {
      color: v.$white !important;
    }
    .footer-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid v.$border-color-05;
      @include m.sm {
        flex-wrap: wrap;
      }

      @include m.xs {
        flex-wrap: wrap;
      }
      .section-header {
        width: 630px;
        @include m.md {
          width: 500px;
        }

        @include m.sm {
          width: 100%;
        }
        .section-title {
          color: v.$white;
          padding-bottom: 20px;
          line-height: 80px;
          @include m.device-375px {
            font-size: 46px;
            line-height: 48px;
          }
        }
        .section-desc {
          color: v.$white;
        }
      }
      .circle-box {
        width: 160px;
        height: 160px;
        line-height: 160px;
        text-align: center;
        background: v.$primary-color;
        color: v.$white;
        @include m.border-radius(50%);
        flex-shrink: 0;
        @include m.sm {
          margin: auto;
          margin-top: 30px;
          margin-bottom: 30px;
        }
      }
    }

    .footer-wrap {
      .input-group {
        position: relative;
        padding-top: 29px;
        padding-bottom: 40px;
        input {
          position: relative;
          border: 1px solid transparent !important;
          border-right: none !important;
          background: v.$gray-700;
          color: v.$white;
          @include m.border-radius(50px);
          padding-left: 25px;

          &::placeholder {
            color: v.$white;
          }
          &:focus {
            border-color: v.$primary-color !important;
          }
        }
        .group-btn {
          background: v.$primary-color;
          border: 0;
          color: v.$white;
          height: 50px;
          width: 50px;
          font-size: 16px;
          text-align: center;
          border-top-right-radius: 50px !important;
          border-bottom-right-radius: 50px !important;
          font-size: 18px;
          cursor: pointer;
        }
      }
      .shear-media {
        .media--icons {
          a {
            display: inline-block;
            color: v.$white;
            margin-left: 17px;
            border: 1px solid v.$primary-color;
            @include m.border-radius(50%);
            font-size: 15px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
          }
        }
      }

      .footer-list {
        float: right;
        &:nth-child(1) {
          ul {
            li {
              a {
                @include m.transition(0.3s);
                &:hover {
                  color: v.$primary-color !important;
                }
              }
            }
          }
        }

        @include m.md {
          float: left;
        }

        @include m.sm {
          float: left;
          margin-top: 30px;
        }

        h4 {
          font-size: 24px;
          font-weight: v.$font-weight-bold;
          color: v.$white;
          padding-bottom: 30px;
        }
        ul {
          li {
            font-size: 18px;
            font-weight: v.$font-weight-medium;
            margin-bottom: 15px;
            display: block;
            color: v.$white;
          }
        }
        .text-sub {
          color: v.$white !important;
          margin-bottom: 10px;
        }
        .contact-text {
          font-size: 18px;
          color: v.$white;
          font-weight: v.$font-weight-bold;
        }
      }
    }
    .copyright-area {
      border-top: 1px solid v.$border-color-05;
      padding-top: 30px;
      @include m.md {
        text-align: center;
      }
      .copyright-desc {
        color: v.$white;
        @include m.md {
          padding-bottom: 30px;
        }
        @include m.sm {
          padding-bottom: 30px;
          text-align: center;
        }
      }
      ul {
        float: right;
        @include m.sm {
          text-align: center;
        }

        li {
          font-size: 18px;
          font-weight: v.$font-weight-medium;
          display: inline-block;
          margin-right: 20px;
          a {
            color: v.$white;
            &:hover {
              color: v.$primary-color !important;
            }
          }
        }
      }
    }
  }
}
