@use "./variables" as v;
@use "./mixin" as m;

/*-======== header area =======-*/
.header-area {
  &.style-two {
    border-bottom: 1px solid v.$color-06;
    padding: 27px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1023;
    padding: 20px 0;
    &.header-fixed {
      background: v.$gray-900;
    }
    .menu-wrapper {
      .main-menu {
        ul {
          li {
            a {
              color: v.$white;
            }
            .dropdown-menu-item {
              li {
                a {
                  color: v.$gray-900;
                }
              }
            }
          }
        }
      }
    }
    .contact-number {
      font-size: 18px;
      font-weight: v.$font-weight-bold;
      color: v.$white;
      @include m.device-425px {
        display: none;
      }
    }

    .bar-btn {
      width: 50px;
      height: 50px;
      background: v.$primary-color;
      position: relative;
      @include m.border-radius(50px);
      cursor: pointer;
      @include m.laptop_m_three {
        display: none;
      }

      &.style-one {
        .menu-line {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          .bar-line {
            width: 2px;
            height: 2px;
            background: rgb(228, 219, 219);
            display: block;
            align-items: center;
            &.bar-line:nth-child(1) {
              width: 10px;
              float: right;
            }
            &.bar-line:nth-child(2) {
              margin-top: 8px;
              width: 20px;
            }
            &.bar-line:nth-child(3) {
              width: 16px;
              float: right;
              margin-top: 7px;
            }
          }
        }
      }
    }
    .main-menu-bar-btn {
      display: none;
      width: 50px;
      height: 50px;
      background: v.$primary-color;
      position: relative;
      @include m.border-radius(50px);
      cursor: pointer;
      text-align: center;
      @include m.laptop_m_three {
        display: flex !important;
        justify-content: center;
        align-items: center;
      }
      svg {
        width: 20px;
        height: 20px;
        path {
          fill: v.$white;
        }
      }
    }
  }
}
