@use "./variables" as v;
@use "./mixin" as m;

/*-======== header area =======-*/
.header-area {
  &.style-two {
    padding: 27px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1023;
    padding: 20px 0;
    &.header-fixed {
      position: fixed !important;
      background: v.$gray-900;
      border: 0 !important;
      z-index: 9999;
      right: 0;
      left: 0;
      top: 0;
      animation: sticy-menu 1s;
      animation-direction: inherited;

      .logo {
        .standard-logo {
          display: none;
        }
        .sticky-logo {
          display: block;
        }
      }
    }

    .header-wrapper-2{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-top: 3px;
      .standard-logo {
        display: block;
      }
      .sticky-logo {
        display: none;
      }
      .logo-name {
        font-size: 30px;
        font-weight: v.$font-weight-bold;
      }
    }
    .menu-wrapper {
      .main-menu {
        ul {
          li {
            a {
              color: v.$white;
            }
            .submenu {
              li {
                a {
                  color: v.$gray-900;
                }
              }
            }
          }
        }
      }

      .number-with-btn{
        margin-left: 40px;
      }
    }
    .contact-number {
      a {
        font-size: 18px;
        font-weight: v.$font-weight-bold;
        color: v.$white !important;
      }

      @include m.device-425px {
        display: none;
      }
    }

    .bar-btn {
      width: 50px;
      height: 50px;
      background: v.$primary-color;
      position: relative;
      @include m.border-radius(50px);
      cursor: pointer;
      @include m.laptop_m {
        display: none;
      }

      &.style-one {
        .menu-line {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          .bar-line {
            width: 2px;
            height: 2px;
            background: rgb(228, 219, 219);
            display: block;
            align-items: center;
            &.bar-line:nth-child(1) {
              width: 10px;
              float: right;
            }
            &.bar-line:nth-child(2) {
              margin-top: 8px;
              width: 20px;
            }
            &.bar-line:nth-child(3) {
              width: 16px;
              float: right;
              margin-top: 7px;
            }
          }
        }
      }
    }
    .main-menu-bar-btn {
      display: none;
      width: 50px;
      height: 50px;
      background: v.$primary-color;
      position: relative;
      @include m.border-radius(50px);
      cursor: pointer;
      text-align: center;
      @include m.laptop_m {
        display: flex !important;
        justify-content: center;
        align-items: center;
      }
      svg {
        width: 20px;
        height: 20px;
        path {
          fill: v.$white;
        }
      }
    }
  }
}
