@use "./variables" as v;
@use "./mixin" as m;
// responsive spacing

@include m.laptop_m_four {
  .responsive-pb-100 {
    padding-bottom: 100px;
  }
  .res-nesthub-py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@include m.device-425px {
  .res-py-120 {
    padding: 120px 0;
  }
}
@include m.rmaxwd(1280) {
  .res-n-h-m-py-100 {
    padding: 100px 0;
  }
}
@include m.laptop_m_four {
  .res-lap-py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .res-lap-pt-0 {
    padding-top: 0 !important;
  }
  .res-lap-py-120 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
  }
  .res-lap-py-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }

  .res-lap-pt-120 {
    padding-top: 120px !important;
  }
  .res-lap-pt-115 {
    padding-top: 115px !important;
  }
  .res-lap-pt-100 {
    padding-top: 100px !important;
  }
  .res-lap-pt-90 {
    padding-top: 90px !important;
  }
  .res-lap-pt-80 {
    padding-top: 80px !important;
  }
  .res-lap-pt-70 {
    padding-top: 70px !important;
  }
  .res-lap-pt-60 {
    padding-top: 60px !important;
  }
  .res-lap-pt-50 {
    padding-top: 50px !important;
  }
  .res-lap-pt-40 {
    padding-top: 40px !important;
  }
  .res-lap-pt-30 {
    padding-top: 30px !important;
  }
  .res-lap-pt-20 {
    padding-top: 20px !important;
  }
  .res-lap-pt-10 {
    padding-top: 10px !important;
  }

  // padding-bottom
  .res-lap-pb-0 {
    padding-bottom: 0px !important;
  }
  .res-lap-pb-120 {
    padding-bottom: 120px !important;
  }

  .res-lap-pb-115 {
    padding-bottom: 120px !important;
  }
  .res-lap-pb-110 {
    padding-bottom: 110px !important;
  }
  .res-lap-pb-100 {
    padding-bottom: 100px !important;
  }
  .res-lap-pb-90 {
    padding-bottom: 90px !important;
  }
  .res-lap-pb-80 {
    padding-bottom: 80px !important;
  }
  .res-lap-pb-70 {
    padding-bottom: 70px !important;
  }

  .res-lap-pb-60 {
    padding-bottom: 60px !important;
  }
  .res-lap-pb-50 {
    padding-bottom: 50px !important;
  }
  .res-lap-pb-40 {
    padding-bottom: 40px !important;
  }
  .res-lap-pb-30 {
    padding-bottom: 30px !important;
  }

  .res-lap-pb-20 {
    padding-bottom: 20px !important;
  }
  .res-lap-pb-10 {
    padding-bottom: 10px !important;
  }
}
@include m.sm {
  .res-pt-0 {
    padding-top: 0px !important;
  }

  .res-py-120 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
  }

  .res-py-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
  .res-pt-110 {
    padding-top: 110px !important;
  }
  .res-py-80 {
    padding-top: 80px !important ;
    padding-bottom: 80px !important ;
  }
  .res-py-63 {
    padding-top: 63px !important ;
    padding-bottom: 63px !important ;
  }
  .res-py-90 {
    padding-top: 90px !important ;
    padding-bottom: 90px !important;
  }
  .res-pt-115 {
    padding-top: 115px !important;
  }
  .res-pt-120 {
    padding-top: 120px !important;
  }
  .res-pt-20 {
    padding-top: 20px !important;
  }
  .res-pt-30 {
    padding-top: 30px !important;
  }
  .res-pt-40 {
    padding-top: 40px !important;
  }
  .res-pt-50 {
    padding-top: 50px !important;
  }
  .res-pt-60 {
    padding-top: 60px !important;
  }
  .res-pt-70 {
    padding-top: 70px !important;
  }
  .res-pt-80 {
    padding-top: 80px !important;
  }

  .res-pt-90 {
    padding-top: 90px !important;
  }
  .res-pt-100 {
    padding-top: 100px !important;
  }
  .res-pb-20 {
    padding-bottom: 20px !important;
  }
  .res-pb-30 {
    padding-bottom: 30px !important;
  }
  .res-pb-40 {
    padding-bottom: 40px !important;
  }
  .res-pb-50 {
    padding-bottom: 50px !important;
  }
  .res-pb-60 {
    padding-bottom: 60px !important;
  }
  .res-pb-70 {
    padding-bottom: 70px !important;
  }
  .res-pb-80 {
    padding-bottom: 80px !important;
  }
  .res-pb-100 {
    padding-bottom: 100px !important;
  }

  .res-pb-110 {
    padding-bottom: 110px !important;
  }
  .res-pb-115 {
    padding-bottom: 115px !important;
  }
  .res-pb-120 {
    padding-bottom: 120px !important;
  }
  // margin
  .res-mt-0 {
    margin-top: 0 !important;
  }
  .res-mb-70 {
    margin-bottom: 70px !important;
  }
  .res-mt-40 {
    margin-top: 40px !important;
  }
  .res-mb-0 {
    margin-bottom: 0 !important;
  }
}

@include m.md {
  .res-md-py-120 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
  }
  .res-md-pt-150 {
    padding-top: 150px !important;
  }
  .res-md-pt-120 {
    padding-top: 120px !important;
  }
  .res-md-pt-110 {
    padding-top: 110px !important;
  }
  .res-md-pt-100 {
    padding-top: 100px !important;
  }
  .res-md-pt-80 {
    padding-top: 80px !important;
  }
  .res-md-pb-120 {
    padding-bottom: 120px !important;
  }
  .res-md-pb-100 {
    padding-bottom: 100px !important;
  }
  .res-md-pb-80 {
    padding-bottom: 80px !important;
  }
  .res-md-mt-0 {
    margin-top: 0 !important;
  }
}

@include m.sm {
  .res-md-pt-150 {
    padding-top: 150px !important;
  }
}

@include m.device-375px {
  .res-375-pb-60 {
    padding-top: 60px !important;
  }
}
