@use "./variables" as v;
@use "./mixin" as m;
// responsive spacing

.responsive-pb-100 {
  @include m.laptop_m_four {
    padding-bottom: 100px;
  }
}
@include m.device-425px {
  .res-py-120 {
    padding: 120px 0;
  }
}
@include m.rmaxwd(1280) {
  .res-n-h-m-py-100 {
    padding: 100px 0;
  }
}
@include m.laptop_m_four {
  .res-lap-py-100 {
    padding-top: 100px;
    padding-bottom: 100%;
  }
  .res-1024-pb-100 {
    padding-bottom: 100px;
  }
  .res-1024-pt-100 {
    padding-top: 100px;
  }
  .res-lap-pt-100 {
    padding-top: 100px;
  }
  .res-lap-pt-115 {
    padding-top: 115px;
  }
  .res-pt-40 {
    padding-top: 40px;
  }
}
@include m.device-425px {
  .res-py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .res-py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .res-pt-110 {
    padding-top: 110px;
  }

  .res-pt-115 {
    padding-top: 115px;
  }
  .res-pt-120 {
    padding-top: 120px;
  }
  .res-pt-30 {
    padding-top: 30px;
  }
  .res-pt-40 {
    padding-top: 40px;
  }
  .res-pt-50 {
    padding-top: 50px;
  }
  .res-pt-60 {
    padding-top: 60px;
  }
  .res-pt-70 {
    padding-top: 70px;
  }
  .res-pt-80 {
    padding-top: 80px;
  }

  .res-pt-100 {
    padding-top: 100px;
  }

  .res-pb-40 {
    padding-bottom: 40px;
  }
  .res-pb-50 {
    padding-bottom: 50px;
  }
  .res-pb-60 {
    padding-bottom: 60px;
  }
  .res-pb-70 {
    padding-bottom: 70px;
  }
  .res-pb-80 {
    padding-bottom: 80px;
  }
  .res-pb-100 {
    padding-bottom: 100px !important;
  }

  .res-pb-110 {
    padding-bottom: 110px;
  }
  .res-pb-115 {
    padding-bottom: 115px;
  }
  .res-pb-120 {
    padding-bottom: 120px;
  }
}

@include m.md {
  .res-md-pt-150 {
    padding-top: 150px;
  }
}

@include m.sm {
  .res-md-pt-150 {
    padding-top: 150px;
  }
}

@include m.device-375px {
  .res-375-pb-60 {
    padding-top: 60px;
  }
}
