@use "./variables" as v;
@use "./mixin" as m;
/*-======== hero area =======-*/
.hero-area {
  &.style-four {
    position: relative;
    background-image: url(../images/hero-bg-img-04.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 257px;
    padding-bottom: 167px;
    z-index: 1;
    @include m.xs {
      padding-top: 170px;
      padding-bottom: 85px;
    }

    .overlay {
      background-image: url(../images/overlay-img-03.png);
      background-position: right bottom;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      overflow: hidden;
      @include m.md {
        background-size: 70%;
      }
      @include m.sm {
        background-size: 75%;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: v.$white;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: -1;
      }
    }
    .hero-content {
      position: relative;
      z-index: 2;
    }
    .back {
      display: flex;
      gap: 20px;
      align-items: center;
      padding-top: 30px;
      a {
        font-size: 24px;
        font-weight: v.$font-weight-bold;
        color: v.$gray-900;
        &:nth-child(3) {
          color: v.$primary-color !important;
        }
      }
    }
  }
}

/*-======== about area =======-*/
.about-area {
  &.style-three {
    .section-header {
      padding-bottom: 150px;
    }
    .about-wrapper {
      &.style-one {
        padding: 0px;
        background: none;
        box-shadow: none;

        @include m.border-radius(0px);
        .about-wrap {
          justify-content: center;
          align-items: center;
          .about-img {
            margin-top: 0;
          }
          .about-support {
            margin-top: 0;
          }
        }
        .count-box-wrapper {
          .counter-item {
            width: inherit;
            align-items: inherit;
            text-align: inherit;
            .count {
              width: 183px;
            }
          }
        }
      }
    }
  }
  &.about-page-about-section {
    .count-box-wrapper {
      .counter-item {
        @include m.xl {
          &::after {
            right: -85px;
          }
          &:nth-child(1) {
            &::after {
              right: -100px;
            }
          }
        }
        @include m.lg {
          &::after {
            right: -26px;
          }
          &:nth-child(1) {
            &::after {
              right: -50px;
            }
          }
        }
        @include m.nesthub {
          &::after {
            right: -20px;
          }
          &:nth-child(1) {
            &::after {
              right: -50px;
            }
          }
        }
        @include m.md {
          &::after {
            width: 40px;
          }
          &:nth-child(1) {
            &::after {
              right: -50px;
            }
          }
          &:nth-child(2) {
            &::after {
              content: "";
              position: absolute;
              display: block;
              right: -23px;
            }
          }
          &:nth-child(3) {
            &::after {
              right: 3px;
            }
          }
        }
        @include m.sm {
          &::after {
            right: -70px;
            width: 50px;
          }
          &:nth-child(2) {
            &::after {
              content: "";
              position: absolute;
              display: none;
            }
          }
        }
      }
    }
  }
}
.our-team-area {
  &.about-page-team-section {
    @include m.nesthub {
      padding-bottom: 0px;
    }
  }
}
.clients-rivews-area {
  &.about-page-clients-section {
    @include m.lg {
      padding-top: 100px;
      padding-bottom: 0px;
    }
    @include m.md {
      padding-bottom: 20px;
    }
  }
}
/*-======== it-technology area =======-*/
.it-technology-area {
  &.style-two {
    background: v.$gray-100;
    .tech-count {
      .coun-title {
        color: v.$gray-100 !important;
      }
    }
  }
}
/*-======== faq area =======-*/
