@use "./variables" as v;
@use "./mixin" as m;
/*==================BLOG DETAILS ARE===================*/
.blog-details-wrapper {
  position: relative;
  overflow: hidden;
  .single-post-item.format-image {    
    .post-thumbnail {
      img {
        @include m.border-radius(20px);
        width: 100%;
      }
    }
    .post-content-wrapper {
      .post-meta {
        display: flex;
        gap: 25px;
        a {
          color: v.$gray-900;
        }
        .author-img,
        .blog-category,
        .post-date {
          a {
            color: v.$gray-800;
          }
          svg {
            path {
              fill: v.$primary-color;
            }
          }
          .meta-text {
            font-weight: v.$font-weight-regular;
            margin-left: 3px;
          }
        }
        .blog-category{
          @include m.xs{
            display: none;
          }
        }
      }
      .post-title{        
        font-size: 40px;
        color: #07000e;
        font-weight: 700;
        margin-top: 20px;
      }
      .post-content {

        p{
          padding-top: 20px;
        }
        ul {
          margin-top: 10px;
          li {
            margin-top: 20px;
            color: v.$gray-800;
            font-size: 18px;
            font-weight: v.$font-weight-medium;
            margin-right: 8px;
            svg{
              color: v.$primary-color;
            }
          }
        }
        .section--title {
          font-size: 32px;
          font-weight: v.$font-weight-bold;
        }
      }
    }
  }

  .client-review{
    background-color: #8FD45F;
    border-radius: 20px;
    padding: 40px;

    p {
      color: v.$gray-900;
    }
  }

  .post-img {
    display: flex;
    gap: 30px;
    img {
      @include m.border-radius(20px);
    }
  }
  .post-info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m.xs {
      flex-wrap: wrap;
    }
    .post-tags {
      display: flex;
      gap: 10px;
      .section-title {
        font-size: 32px;
        font-weight: v.$font-weight-bold;
      }
      .tags-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 4px 10px;
          border: 1px solid v.$border-color-04;
          @include m.border-radius(50px);
          color: v.$gray-800;
          font-size: 14px;
          font-weight: v.$font-weight-regular;
          &:hover {
            background: v.$primary-color;
            color: v.$white;
          }
        }
      }
    }
    .shear-media {
      @include m.device-525px {
        margin-top: 40px;
      }
      .media--icons {
        display: flex;
        align-items: center;
        gap: 20px;
        a {
          width: 38px;
          height: 38px;
          background: v.$gray-100;
          @include m.border-radius(50%);
          line-height: 38px;
          text-align: center;
          svg {
            path {
              fill: v.$primary-color;
            }
          }
        }
      }
    }
  }

  .comment-wrapper {
    .comment-info {
      .section-title {
        font-size: 24px;
        font-weight: v.$font-weight-bold;
      }
      .user-comment {
        background: v.$gray-100;
        padding: 30px 40px;
        @include m.border-radius(20px);
        .user-info {
          display: flex;
          justify-content: space-between;
          svg {
            @include m.transform(rotate(180deg));
          }
          .user-name {
            font-size: 24px;
            font-weight: v.$font-weight-bold;
          }
          .comment-colon{
            width: 40px;
            height: 28px;
          }
        }
        .replay-btn {
          font-size: 18px;
          font-weight: v.$font-weight-bold;
          color: v.$gray-900;
          padding: 10px 20px;
          border: 1px solid v.$primary-color;
          @include m.border-radius(50px);
        }
      }
    }
    .comment-form {
      .section-title {
        font-size: 24px;
        font-weight: v.$font-weight-bold;
      }
      .form-box {
        .form-content {
          form {
            input,
            textarea {
              border-color: v.$gray-200;
            }
            .nice-select {
              border-color: v.$gray-200 !important;
            }
            .form-slide {
              div {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
