@use "./variables" as v;
@use "./mixin" as m;
/*==================BLOG DETAILS ARE===================*/
.blog-details-area {
  position: relative;
  overflow: hidden;
  .single-post-item.format-image {    
    .post-thumbnail {
      img {
        @include m.border-radius(20px);
        width: 100%;
      }
    }
    .post-content-wrapper {
      .post-meta {
        display: flex;
        gap: 25px;
        a {
          color: v.$gray-900;
        }
        .author-img,
        .blog-category,
        .post-date {
          a {
            color: v.$gray-800;
          }
          svg {
            path {
              fill: v.$primary-color;
            }
          }
          .meta-text {
            font-weight: v.$font-weight-regular;
            margin-left: 3px;
          }
        }
        .blog-category{
          @include m.xs{
            display: none;
          }
        }
      }
      .post-content {
        ul {
          margin-top: 10px;
          li {
            margin-top: 20px;
            color: v.$gray-800;
            font-size: 18px;
            font-weight: v.$font-weight-medium;
            margin-right: 8px;
            svg{
              color: v.$primary-color;
            }
          }
        }
        .section--title {
          font-size: 32px;
          font-weight: v.$font-weight-bold;
        }
      }
    }
  }

  .comment-wrapper {
    .comment-info {
      .section-title {
        font-size: 24px;
        font-weight: v.$font-weight-bold;
      }
      .user-comment {
        background: v.$gray-100;
        padding: 30px 40px;
        @include m.border-radius(20px);
        .user-info {
          display: flex;
          justify-content: space-between;
          svg {
            @include m.transform(rotate(180deg));
          }
          .user-name {
            font-size: 24px;
            font-weight: v.$font-weight-bold;
          }
          .comment-colon{
            width: 40px;
            height: 28px;
          }
        }
        .replay-btn {
          font-size: 18px;
          font-weight: v.$font-weight-bold;
          color: v.$gray-900;
          padding: 10px 20px;
          border: 1px solid v.$primary-color;
          @include m.border-radius(50px);
        }
      }
    }
    .comment-form {
      .section-title {
        font-size: 24px;
        font-weight: v.$font-weight-bold;
      }
      .form-box {
        .form-content {
          form {
            input,
            textarea {
              border-color: v.$gray-200;
            }
            .nice-select {
              border-color: v.$gray-200 !important;
            }
            .form-slide {
              div {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
