@use "./variables" as v;
@use "./mixin" as m;
/*-======== hero area style-two =======-*/
.hero-area {
  &.style-two {
    background: v.$gray-900;
    position: relative;
    z-index: 1;
    opacity: 0.9;
    .overlay--img {
      width: 100%;
      height: 100%;
      .overlay-img {
        position: absolute;
        z-index: -1;
        img {
          width: 412px;
          height: 412px;
          @include m.xs {
            width: 100%;
            height: 100%;
          }
        }
        @include m.xs {
          width: 100%;
          height: 100%;
        }
      }
      .overlay-img-one {
        top: 90px;
        left: 0;
      }
      .overlay-img-two {
        bottom: 64px;
        right: 140px;
      }
    }
    .hero-content {
      .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        padding-top: 20px;
        @include m.sm {
          flex-wrap: wrap;
        }
        @include m.sm {
          gap: 30px;
        }

        .section-title {
          font-size: 124px;
          font-weight: v.$font-weight-bold;
          line-height: 127px;
          color: v.$white;
          @include m.nesthubmax {
            font-size: 96px;
            line-height: 96px;
          }
          @include m.device-1200px {
            font-size: 70px;
            line-height: 96px;
          }
          @include m.nesthub {
            font-size: 70px;
            line-height: 80px;
          }
          @include m.md {
            font-size: 48px;
            line-height: 48px;
          }

          @include m.sm {
            font-size: 54px;
            line-height: 58px;
          }
          @include m.device-425px {
            font-size: 52px;
            line-height: 52px;
          }
          @include m.device-375px {
            font-size: 46px;
            line-height: 46px;
          }
          @include m.device-320px {
            font-size: 40px;
            line-height: 40px;
          }
        }
        .hero-img {
          @include m.border-radius(149px);
          @include m.nesthub {
            width: 40%;
          }
          @include m.md {
            width: 48%;
          }
          @include m.sm {
            width: 80%;
            @include m.border-radius(20px);
          }
        }
      }
    }
    .hero-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include m.sm {
        flex-wrap: wrap;
      }
      @include m.xs {
        flex-wrap: wrap;
      }
      .left {
        flex-basis: 52%;
        padding-top: 56px;
        @include m.nesthubmax {
          flex-basis: 62%;
        }
        @include m.nesthub {
          flex-basis: 70%;
        }
        @include m.md {
          flex-basis: 100%;
        }

        @include m.sm {
          flex-basis: 100%;
        }
        @include m.xs {
          flex-basis: 100%;
        }
        @include m.device-425px {
          padding-top: 40px;
        }
      }
      .right {
        @include m.sm {
          margin-left: auto;
          margin-right: auto;
        }
        @include m.xs {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .hero-desc {
        font-weight: v.$font-weight-medium;
        font-size: 18px;
        line-height: 28px;
        color: v.$white;
        @include m.device-525px {
          text-align: center;
        }
      }
      .global-client-review {
        display: flex;
        gap: 40px;
        padding-top: 38px;
        @include m.sm {
          flex-wrap: wrap;
        }
        @include m.xs {
          flex-wrap: wrap;
          gap: 15px;
        }
        @include m.device-525px {
          justify-content: center;
        }

        .review-content {
          padding-bottom: 30px;
          @include m.device-425px {
            padding-bottom: 15px;
          }
          h4 {
            font-weight: v.$font-weight-bold;
            font-size: 18px;
            color: v.$white;
            .fa-star {
              color: v.$secondary;
            }
            svg {
              margin-right: 4px;
            }
          }
          .review-box {
            display: flex;
            gap: 25px;
            .reviwes-icons {
              ul {
                li {
                  display: inline-block;
                  color: v.$color-3;
                  &:nth-child(5) {
                    color: v.$gray-200;
                  }
                }
              }
              .text-sub {
                font-size: 14px;
                font-weight: v.$font-weight-regular;
                color: v.$white;
              }
            }
          }
        }
      }
      .theme-btn {
        &.style-one {
          background: v.$primary-color;
          a {
            color: v.$white;
            svg {
              path {
                fill: v.$white;
              }
            }
          }
        }
      }
    }
  }
}

/*-======== lastar-area style-two =======-*/
.lates-service-area {
  
  &.style-two {
    position: relative;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 125px;

    .count-box-wrapper {
      &.style-two {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          top: 67%;
          left: 0;
          width: 100%;
          height: 2px;
          background: v.$color-07;
          @include m.transform(translateY(-50%));
          @include m.md {
            top: 50% !important;
          }
          @include m.sm {
            top: 46% !important;
          }
          @include m.xs {
            top: 46% !important;
          }
        }
        .counter-item {
          text-align: center;

          &::after {
            display: none;
          }
          h2 {
            padding-bottom: 20px;
            @include m.lg {
              padding-bottom: 5px;
            }
            @include m.md {
              padding-bottom: 5px;
            }
            @include m.sm {
              padding-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
/*-======== ite-technology-area =======-*/

.it-technology-area {
  .about-content {
    .tech-count {
      @include m.device-320px {
        flex-wrap: wrap;
      }
    }
    .tech-list {
      ul {
        @include m.device-525px {
          flex-direction: column;
        }
      }
    }
  }
}

.our-team-area {

  &.style-2{
    padding-top: 135px;
    padding-bottom: 115px;
  }

  &.style-three{
    padding-bottom: 0;
  }
}

/*-======== wrok-process-area =======-*/

.work-process-area {
  &.style-two {
    padding-top: 0;

    @include m.nesthub {
      padding-top: 0px;
    }
    background: v.$gray-100;
    .section-header {
      &.style-two {
        .section-content {
          .section-title {
            flex-basis: 63%;
            @include m.md {
              flex-basis: 100%;
            }
            @include m.sm {
              flex-basis: 100%;
            }
          }
          // .theme-btn {
          //  // flex-basis: 37%;
          //   @include m.md {
          //     flex-basis: 100%;
          //   }
          //   @include m.sm {
          //     flex-basis: 100%;
          //   }
          // }
        }
      }
    }
  }
}
/*-======== clients-rivews-area =======-*/

.clients-rivews-area {
  background: v.$gray-100;

  @include m.lg {
    padding-bottom: 110px;
  }
  .slider-wrapper {
    .slider-carousel {
      .slider-img {
        padding-top: 24px;
        img {
          @include m.border-radius(20px);
        }
      }
    }
  }
}

/*-======== faq-area  style-two=======-*/


.faq-area {
  &.style-two {
    //padding-bottom: 0;

    @include m.nesthub{
      padding-bottom: 120px;
    }
    .accordion-wrapper {
      padding-right: 30px;
      @include m.device-768px {
        padding: 0px;
      }
      @include m.sm {
        padding: 0px;
      }
    }
    .faq-img {
      padding-left: 30px;
      @include m.md {
        padding-left: 0;
        margin-top: 40px;
      }
      @include m.sm {
        padding-left: 0;
        margin-top: 40px;
      }
      @include m.xs {
        padding-left: 0;
        margin-top: 40px;
      }
      @include m.xl {
        width: 100%;
        height: 100%;
      }
      @include m.laptop_m_three {
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        @include m.border-radius(20px);
      }
    }
  }
}
.faq-res-space{
  @include m.nesthub{
    padding-bottom: 0 !important;
  }
  @include m.md{
    padding-top: 90px;
  }
  @include m.sm{
    padding-top: 75px;
    padding-bottom: 40px;
  }
  @include m.xs{
    padding-top: 40px;
  }
}
/*-======== client-logo-area  style-two=======-*/
.client-area {
  &.style-two {
    position: relative;
    background-image: url("../images/bg-img-01.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: v.$gray-900;
      opacity: 0.7;
    }
    .client-logo-wrapper {
      position: relative;
      z-index: 1;
    }
    .client-content-wrapper {
      padding-top: 120px;
      position: relative;
      z-index: 1;
      @include m.laptop_m_four {
        padding-top: 90px;
      }
      @include m.device-425px {
        padding-top: 80px;
      }
      .client-content {
        .best-award-logo {
          position: relative;
          height: 124px;
          width: 124px;
          border-radius: 50%;
          background: #524e55;
          .best-award-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            @include m.transform(translate(-50%, -50%));
          }
          .best-award-text {
            position: relative;
            text-align: center;
            line-height: 120px;
            animation: rotate-spin 4s linear infinite;
          }
          @include m.xs {
            margin-left: auto;
            margin-right: auto;
          }
        }
        .section-header {
          .section-title {
            color: v.$white;
          }
          .section-desc {
            color: v.$white;
          }
        }
      }
      .client-content-wrap {
        width: 680px;
        margin-left: auto;
        @include m.md {
          margin-left: 0;
          margin-top: 30px;
          width: 100%;
        }
        @include m.sm {
          margin-left: 0;
          margin-top: 30px;
          width: 100%;
        }
        @include m.xs {
          margin-left: 0;
          margin-top: 30px;
          width: 100%;
        }
        .section-header {
          .section-title {
            font-weight: v.$font-weight-bold;
            font-size: 32px;
            line-height: 41px;
            color: v.$white;
            letter-spacing: 2px;
            @include m.device-375px {
              font-size: 28px;
            }
            @include m.device-320px {
              font-size: 28px;
            }
          }
          .section-desc {
            color: v.$white;
            line-height: 29px;
          }
        }
      }
    }
  }
}

/*-======== new-blogs-area  style-two=======-*/
.new-blog-area {
  &.style-two {
    background: v.$gray-100;
    padding-bottom: 0;
    .section--header {
      @include m.device-425px {
        padding-bottom: 0px;
      }
    }
  }
}
