@use "./variables" as v;
@use "./mixin" as m;
/*-======== hero area =======-*/
.hero-area {
  &.style-one {
    background: v.$white;
    position: relative;
    z-index: 1;
    @include m.device-425px {
      padding-top: 160px;
    }
    .shear-media {
      position: absolute;
      left: 60px;
      top: 50%;
      @include m.transform(translateY(-50%));

      @include m.xl {
        left: 70px;
      }
      @include m.laptop_l {
        top: 40%;
      }
      .media--icons {
        a {
          display: block;
          margin-top: 6px;
          svg {
            display: block;
            path {
              fill: v.$gray-900;
            }
          }
          margin-top: 70px;
          @include m.laptop_l {
            margin-top: 30px;
          }
        }
      }
      @include m.device-576px {
        top: 30%;
        left: 24px;
      }
      @include m.device-480px {
        display: none;
      }
    }
    .hero-content {
      position: relative;
      z-index: 1;
      .section-title {
        font-size: 90px;
        font-weight: v.$font-weight-extra-light;
        color: v.$gray-900;
        line-height: 100px;
        @include m.lg {
          font-size: 74px;
        }

        @include m.xs {
          font-size: 50px;
          line-height: 60px;
        }

        .text-bold {
          font-weight: v.$font-weight-bold;
        }
      }
    }
    .hero-wrapper {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include m.device-425px {
        margin-top: 0 !important;
      }
      @include m.laptop_m_four {
        flex-wrap: wrap;
        margin-top: 30px;
      }
      @include m.sm {
        flex-wrap: wrap;
        justify-content: center;
      }
      .video-wrap {
        @include m.laptop_m_four {
          width: 410px;
          margin: 0px auto 0px auto;
        }
        .video-box {
          @include m.device-576px {
            margin-top: 70px;
          }
        }
      }
      .hero-center-img {
        position: relative;
        margin-left: 27px;
        margin-right: 30px;
        .hero-img {
          position: relative;
          @include m.xl {
            width: 600px;
            height: 540px;
          }

          @include m.lg {
            width: 480px;
            margin-top: 50px;
          }
          @include m.md {
            margin-top: 75px !important;
            width: 450px;
            height: 460px;
          }
          @include m.xs {
            margin-top: 75px !important;
            width: 450px;
          }
          @include m.device-425px {
            width: 350px;
          }
          @include m.device-375px {
            width: 300px;
          }
          @include m.device-320px {
            width: 250px;
            height: 320px;
            object-fit: cover;
          }
        }
        .theme-btn {
          &.style-one {
            position: absolute;
            left: 50%;
            bottom: 32px;
            @include m.transform(translateX(-50%));
            background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
            overflow: hidden;
            a {
              @include m.transition(0.5s);
              svg {
                path {
                  @include m.transition(0.5s);
                }
              }
            }
            @include m.device-320px {
              bottom: 5px;
            }
            @include m.laptop_m_four {
              width: 120px;
              height: 120px;
            }
            &:before {
              content: "";
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(
                135deg,
                #667eea 0%,
                #764ba2 100%
              );
              @include m.transition(0.5s);
              z-index: -1;
              @include m.border-radius(50%);
            }
            &:hover {
              border: 0;
              a {
                color: v.$white;
                svg {
                  path {
                    fill: v.$white;
                  }
                }
              }
              &::before {
                top: 0;
              }
            }
          }
        }
      }
      .hero-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        @include m.sm {
          flex-direction: column-reverse;
        }
        .count-box-wrapper {
          @include m.device-576px {
            margin-top: 30px;
          }
          .counter-item {
            @include m.device-375px {
              flex-direction: column;
              width: 100%;
              align-items: center;
              &:nth-child(1) {
                padding-top: 20px;
              }
              &:nth-child(2) {
                padding-bottom: 0px;
              }
            }
          }
        }
      }
    }
    .happy-text {
      font-size: 18px;
      font-weight: v.$font-weight-bold;
      color: v.$gray-900;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    img {
      object-fit: cover;
      position: relative;
      z-index: -1;
    }
  }
}

/*-======== tech-serices-area=======-*/

.tech-serices-area {
  position: relative;
  overflow: hidden;
}

/*-======== lates-service-area=======-*/
.lates-service-area {
  background: v.$gray-100;
  .letes-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

    .left {
      flex-basis: 35%;

      @include m.sm {
        flex-basis: 100%;
      }
      @include m.md {
        flex-basis: 100%;
      }
      @include m.lg {
        flex-basis: 100%;
      }
      @include m.nesthubmax {
        width: 100%;
        flex-basis: 100%;
      }
      @include m.xl {
        width: 325px;
      }
    }
    .right {
      width: 65%;

      @include m.xl {
        flex-basis: 100%;
      }
      @include m.lg {
        flex-basis: 100%;
      }
      @include m.sm {
        flex-basis: 100%;
      }
      @include m.md {
        flex-basis: 100%;
      }
    }
    @include m.xl {
      flex-wrap: wrap;
    }
    @include m.lg {
      flex-wrap: wrap;
    }
    @include m.sm {
      flex-wrap: wrap;
    }
    @include m.md {
      flex-wrap: wrap;
    }
    @include m.laptop_m_four {
      padding-left: 40px;
    }
  }
}
/*-======== about-area=======-*/

.about-area {
  .section-header {
    padding-bottom: 172px;
  }
}

/*-======== lates-project-area =======-*/

.lates-project-area {
  .section-header {
    .card-wrapper {
      &.style-three {
        .card-item {
          .card-img {
            img {
              width: initial;
              height: initial;
              margin-bottom: 65px;
            }
          }
        }
      }
    }
  }
}

/*-======== our-team-area =======-*/
.our-team-area {
  background: v.$gray-100;
  .story-area {
    @include m.xs {
      padding-top: 80px;
    }
  }
}

/*-======== tech-experiences-area =======-*/

.tech-experiences-area {
  img {
    @include m.border-radius(20px);
    @include m.xl {
      width: 100%;
    }
    @include m.lg {
      width: 100%;
    }
    @include m.md {
      width: 100%;
      margin-bottom: 20px;
    }
    @include m.sm {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}

/*-======== work-process-area =======-*/

.work-process-area {
  &.style-one {
    background: v.$gray-100;

    .section-header {
      &.style-two {
        .section-content {
          .section-title {
            flex-basis: 63%;
            @include m.md {
              flex-basis: 100%;
            }
            @include m.sm {
              flex-basis: 100%;
            }
          }
          .theme-btn {
            flex-basis: 37%;
            @include m.md {
              flex-basis: 100%;
            }
            @include m.sm {
              flex-basis: 100%;
            }
          }
        }
      }
    }
    .clients-testimonial-area {
      @include m.device-425px {
        padding-top: 50px;
      }
    }
  }
}

/*-======== new-blog-area =======-*/

.new-blog-area {
  background: v.$gray-100;
  .card-wrapper {
    &.style-five {
      .card-item {
        margin-top: 30px;
      }
    }
  }
}
