@use "./variables" as v;
@use "./mixin" as m;
/*-======== hero area style-two =======-*/
.hero-area {
  &.style-two {
    background: v.$gray-900;
    .hero-content {
      .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        padding-top: 38px;
        @include m.device-525px {
          flex-wrap: wrap;
        }
        @include m.sm {
          gap: 30px;
        }

        .section-title {
          font-size: 124px;
          font-weight: v.$font-weight-bold;
          line-height: 127px;
          color: v.$white;
          @include m.device-1200px {
            font-size: 96px;
          }
          @include m.nesthub {
            font-size: 82px;
          }
          @include m.md {
            font-size: 48px;
          }

          @include m.sm {
            font-size: 48px;
          }
          @include m.device-525px {
            font-size: 62px;
          }

          @include m.device-375px {
            font-size: 46px;
          }
        }
        .hero-img {
          @include m.border-radius(149px);
          @include m.nesthub {
            width: 40%;
          }
          @include m.md {
            width: 48%;
          }
          @include m.sm {
            width: 48%;
          }

          @include m.device-525px {
            width: 80%;
            @include m.border-radius(20px);
          }
        }
      }
    }
    .hero-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include m.sm {
        flex-wrap: wrap;
      }
      @include m.xs {
        flex-wrap: wrap;
      }
      .left {
        flex-basis: 52%;
        padding-top: 56px;
        @include m.nesthub {
          flex-basis: 70%;
        }
        @include m.md {
          flex-basis: 100%;
        }

        @include m.sm {
          flex-basis: 100%;
        }
        @include m.xs {
          flex-basis: 100%;
        }
      }
      .right {
        @include m.sm {
          margin-left: auto;
          margin-right: auto;
        }
        @include m.xs {
          margin-left: auto;
          margin-right: auto;
        }
      }
      .hero-desc {
        font-weight: v.$font-weight-medium;
        font-size: 18px;
        line-height: 28px;
        color: v.$white;
        @include m.device-525px {
          text-align: center;
        }
      }
      .global-client-review {
        display: flex;
        gap: 40px;
        padding-top: 38px;
        @include m.sm {
          flex-wrap: wrap;
        }
        @include m.xs {
          flex-wrap: wrap;
        }
        @include m.device-525px {
          justify-content: center;
        }
        .review-content {
          padding-bottom: 30px;
          h4 {
            font-weight: v.$font-weight-bold;
            font-size: 18px;
            color: v.$white;
            .fa-star {
              color: v.$secondary;
            }
            svg {
              margin-right: 4px;
            }
          }
          .review-box {
            display: flex;
            gap: 25px;
            .reviwes-icons {
              ul {
                li {
                  display: inline-block;
                  color: v.$color-3;
                  margin-right: 10px;
                  &:nth-child(5) {
                    color: v.$gray-200;
                  }
                }
              }
              .text-sub {
                font-size: 14px;
                font-weight: v.$font-weight-regular;
                color: v.$white;
                margin-top: 10px;
              }
            }
          }
        }
      }
      .theme-btn {
        &.style-one {
          background: v.$primary-color;
          a {
            color: v.$white;
            svg {
              path {
                fill: v.$white;
              }
            }
          }
        }
      }
    }
  }
}

/*-======== lastar-area style-two =======-*/
.lates-service-area {
  &.style-two {
    .count-box-wrapper {
      &.style-two {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          top: 67%;
          left: 0;
          width: 100%;
          height: 2px;
          background: v.$color-07;
          @include m.transform(translateY(-50%));
          @include m.md {
            top: 50% !important;
          }
          @include m.sm {
            top: 46% !important;
          }
          @include m.xs {
            top: 46% !important;
          }
        }
        .counter-item {
          text-align: center;

          &::after {
            display: none;
          }
          h2 {
            padding-bottom: 27px;
          }
        }
      }
    }
  }
}
/*-======== ite-technology-area =======-*/

.it-technology-area {
  .about-content {
    .tech-count {
      @include m.device-320px {
        flex-wrap: wrap;
      }
    }
    .tech-list {
      ul {
        @include m.device-525px {
          flex-direction: column;
        }
      }
    }
  }
}
/*-======== wrok-process-area =======-*/

.work-process-area {
  &.style-two {
    background: v.$gray-100;
    .section-header {
      &.style-two {
        border-top: 1px solid v.$border-color-03;
        padding-top: 20px;
        .section-content {
          .section-title {
            flex-basis: 63%;
            @include m.md {
              flex-basis: 100%;
            }
            @include m.sm {
              flex-basis: 100%;
            }
          }
          .theme-btn {
            flex-basis: 37%;
            @include m.md {
              flex-basis: 100%;
            }
            @include m.sm {
              flex-basis: 100%;
            }
          }
        }
      }
    }
  }
}
/*-======== clients-rivews-area =======-*/

.clients-rivews-area {
  .slider-wrapper {
    .slider-carousel {
      .slider-img {
        padding-top: 24px;
        img {
          @include m.border-radius(20px);
        }
      }
    }
  }
}

/*-======== faq-area  style-two=======-*/
.faq-area {
  &.style-two {
    .accordion-wrapper {
      padding-right: 30px;
      @include m.device-768px {
        padding: 0px;
      }
      @include m.sm {
        padding: 0px;
      }
    }
    .faq-img {
      padding-left: 30px;
      @include m.md {
        padding-left: 0;
        margin-top: 40px;
      }
      @include m.sm {
        padding-left: 0;
        margin-top: 40px;
      }
      @include m.xs {
        padding-left: 0;
        margin-top: 40px;
      }
      @include m.xl {
        width: 100%;
        height: 100%;
      }
      @include m.laptop_m_three {
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        @include m.border-radius(20px);
      }
    }
  }
}
/*-======== client-logo-area  style-two=======-*/
.client-area {
  &.style-two {
    position: relative;
    background-image: url("../images/bg-img-01.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: center;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: v.$gray-900;
      opacity: 0.7;
    }
    .client-logo-wrapper {
      position: relative;
      z-index: 1;
    }
    .client-content-wrapper {
      padding-top: 245px;
      position: relative;
      z-index: 1;
      .client-content {
        .section-header {
          .section-title {
            color: v.$white;
          }
          .section-desc {
            color: v.$white;
          }
        }
      }
      .client-content-wrap {
        width: 680px;
        margin-left: auto;
        @include m.md {
          margin-left: 0;
          margin-top: 30px;
          width: 100%;
        }
        @include m.sm {
          margin-left: 0;
          margin-top: 30px;
          width: 100%;
        }
        @include m.xs {
          margin-left: 0;
          margin-top: 30px;
          width: 100%;
        }
        .section-header {
          .section-title {
            font-weight: v.$font-weight-bold;
            font-size: 32px;
            line-height: 41px;
            color: v.$white;
            letter-spacing: 2px;
            @include m.device-375px {
              font-size: 28px;
            }
            @include m.device-320px {
              font-size: 28px;
            }
          }
          .section-desc {
            color: v.$white;
            line-height: 29px;
          }
        }
      }
    }
  }
}

/*-======== new-blogs-area  style-two=======-*/
.new-blog-area {
  &.style-two {
    background: v.$gray-100;
  }
}
