@use "./variables" as v;
@use "./mixin" as m;
/*-======== services-details-area  =======-*/
.project-details-area {
  @include m.device-768px {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .project-details-wrapper {
    .section-title {
      font-size: 32px;
      font-weight: v.$font-weight-bold;
      line-height: 41px;
      @include m.device-375px {
        font-size: 26px;
      }
      @include m.md {
        margin-top: 30px;
      }
      @include m.sm {
        margin-top: 30px;
      }
      @include m.xs {
        margin-top: 30px;
      }
    }
    .project-post-details {
      img {
        @include m.border-radius(20px);
        width: 100%;
      }
      .project-post-info {
        display: flex;
        justify-content: space-between;
        gap: 56px;
        @include m.xl {
          flex-wrap: wrap;
          row-gap: 30px;
        }
        @include m.lg {
          flex-wrap: wrap;
          row-gap: 30px;
        }
        @include m.md {
          flex-direction: column;
          gap: 30px;
        }
        @include m.sm {
          flex-direction: column;
          gap: 30px;
        }
        @include m.xs {
          flex-direction: column;
          gap: 30px;
        }
        @include m.device-425px {
          gap: 10px;
        }
        .info-item {
          display: flex;
          gap: 15px;
          @include m.device-375px {
            flex-direction: column;
          }
          h3 {
            font-size: 24px;
            font-weight: 700;
          }
          p {
            font-size: 18px;
            font-weight: v.$font-weight-medium;
            color: v.$gray-800;
          }
          .shear-media {
            .media--icons {
              display: flex;
              align-items: center;
              gap: 20px;
              a {
                width: 38px;
                height: 38px;
                background: v.$gray-100;
                @include m.border-radius(50%);
                line-height: 38px;
                text-align: center;
                svg {
                  path {
                    fill: v.$primary-color;
                  }
                }
              }
            }
          }
        }
      }
    }
    .project-details-wrap {
      border-bottom: 1px solid v.$color-07;
      padding-bottom: 30px;
      img {
        @include m.border-radius(20px);
        width: 100%;
      }
    }

    .project-wrap {
      .section-small-title {
        font-size: 24px;
        font-weight: v.$font-weight-bold;
      }
      ul {
        margin-top: 10px;
        li {
          margin-top: 20px;
          color: v.$gray-800;
          font-size: 18px;
          font-weight: v.$font-weight-medium;
          
          color: v.$gray-800;
          font-size: 18px;
          font-weight: v.$font-weight-medium;
          
          svg{
            color: v.$primary-color;
            font-size: 16px;
          }
          
        }
      }
    }
    .slider-carousel-seven {
      .owl-stage-outer {
        padding-bottom: 60px !important;
      }
    }
    .section-small-title {
      font-weight: v.$font-weight-bold;
      font-size: 24px;
    }
  }
}
