@use "./variables" as v;
@use "./mixin" as m;
/*-======== services-details-area  =======-*/
.services-details-area {
  .section-title {
    font-size: 32px;
    font-weight: v.$font-weight-bold;
    line-height: 41px;
  }
  ul {
    margin-top: 10px;
    li {
      margin-top: 20px;
      color: v.$gray-800;
      font-size: 18px;
      font-weight: v.$font-weight-medium;
      margin-right: 8px;
    }
  }
  .service-wrapper {
    @include m.md {
      margin-top: 30px;
    }
    @include m.sm {
      margin-top: 30px;
    }

    .service-img {
      @include m.border-radius(20px);
      margin: 30px 0;
      width: 100%;
    }

    .card-wrapper {
      &.style-one {
        @include m.device-768px {
          padding-left: 30px;
        }
        @include m.sm {
          padding-left: 30px;
        }
        .card-item {
          background: v.$gray-100;
          border: 0px;
        }
      }
    }
  }
}
