@use "./variables" as v;
@use "./mixin" as m;
/*-======== services-details-area  =======-*/
.service-area {
  &.style-one {
    .card-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;

      @include m.device-768px {
        padding-left: 35px;
      }
    }
  }
}
