@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== about-wrapper =======-*/
.about-wrapper {
  &.style-one {
    background: v.$white;
    @include m.border-radius(20px);
    padding: 0 80px 80px 80px;
    box-shadow: 0 0px 15px 0px rgb(66 66 66 / 5%);
    @include m.xl {
      padding: 0 30px 30px 30px;
    }
    @include m.sm {
      padding: 0 30px 30px 30px;
    }
    @include m.device-375px {
      padding: 0 20px 20px 20px;
    }

    .about-wrap {
      display: flex;
      gap: 30px;
      @include m.lg {
        flex-wrap: wrap;
      }
      @include m.md {
        flex-wrap: wrap;
      }
      @include m.sm {
        flex-wrap: wrap;
      }
      .about-img {
        margin-top: -152px;
        height: 100%;
        @include m.lg {
          width: 100%;
        }
        img {
          @include m.border-radius(20px);
          @include m.lg {
            width: 100%;
          }

          @include m.md {
            width: 100%;
          }
          @include m.sm {
            width: 100%;
          }
        }
      }
      .about-support {
        position: relative;
        z-index: 2;
        display: flex;
        gap: 20px;
        background: v.$gray-100;
        @include m.border-radius(20px);
        padding: 20px 30px;
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
        margin-top: -65px;
        @include m.lg {
          width: 75%;
        }
        @include m.md {
          width: 90%;
        }
        @include m.sm {
          width: 100%;
        }
        @include m.device-425px {
          flex-wrap: wrap;
        }
        .info-box {
          .info-header {
            display: flex;
            gap: 6px;
            align-items: center;
            text-align: center;
            margin-bottom: 15px;
            .info-title {
              font-size: 18px;
              font-weight: v.$font-weight-bold;
              color: v.$gray-900;
            }
            svg {
              path {
                fill: v.$primary-color;
              }
            }
          }
          .info-desc {
            font-size: 14px;
            font-weight: v.$font-weight-medium;
            line-height: 22px;
          }
        }
      }
      ul {
        li {
          font-size: 18px;
          font-weight: v.$font-weight-bold;
          margin-bottom: 20px;
        }
      }
    }
  }
}
