@use "../../variables" as v;
@use "../../mixin" as m;

/*================= Chosen select ====================*/

.user-chosen-select-container {
  .chosen-container {
    width: 100% !important;

    .chosen-single {
      height: 60px !important;
      line-height: 60px !important;
      font-size: 18px !important;
      font-weight: v.$font-weight-medium;
      padding-left: 11px !important;
      border-color: v.$border-color-03 !important;
      @include m.border-radius(50px !important);
      background: v.$white !important;
      box-shadow: none !important;
      span {
        color: v.$gray-800;
      }
      div {
        b {
          display: block !important;
          width: 16px !important;
          height: 100% !important;
          background-size: 16px 16px !important;
          background-position: center !important;
          background-repeat: no-repeat !important;
        }
      }
    }
    &.chosen-container-single {
      .chosen-search {
        input[type="text"] {
          padding: 10px 20px !important;
          @include m.border-radius(5px !important);
          background: none !important;
        }
      }
    }
    &.chosen-container-active {
      &.chosen-with-drop {
        .chosen-single {
          div {
            b {
              display: block !important;
              width: 16px !important;
              height: 100% !important;
              background: url("../images/chose-sprite-dwon.png");
              background-size: 11px 11px !important;
              background-position: center !important;
              background-repeat: no-repeat !important;
            }
          }
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          border-top-left-radius: 5px !important;
          border-top-right-radius: 5px !important;
          background: v.$white !important;
        }
      }
    }
    .chosen-results {
      li {
        padding: 11px 10px !important;
        &.active-result {
          font-size: 18px;
          font-weight: v.$font-weight-medium !important;
        }
      }
    }
  }
  @include m.laptop_l {
    b {
      background-size: 16px 16px !important;
    }
  }
}
