@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== sidebar style-two  =======-*/
.sidebar {
  &.style-two {
    padding: 40px;
    border: 1px solid v.$color-07;
    @include m.border-radius(20px);
    @include m.laptop_m_four {
      padding: 20px;
    }
    @include m.rmaxwd(1280) {
      padding: 20px;
    }
    @include m.md {
      margin-top: 80px;
      padding: 40px;
    }
    @include m.sm {
      margin-top: 70px; 
      padding: 40px;
    }
    @include m.xs {
      margin-top: 52px;
      padding: 20px;
    }
    .side-section-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 1px solid v.$color-07;
      .section-title {
        font-size: 24px;
        font-weight: v.$font-weight-bold;
      }
      .icon-right-arrow{
        @include m.transform(rotate(45deg));
        
      }
    }
    .search-bar {
      position: relative;
      .form-control {
        position: relative;
        border: 0;
        background: v.$gray-100;
        padding-left: 15px;
        padding-right: 40px;
        @include m.border-radius(50px);
        &::placeholder {
          color: v.$gray-800;
        }
      }
      .search-icon {
        position: absolute;
        top: 50%;
        right: 12px;
        @include m.transform(translateY(-50%));
        cursor: pointer;
        svg{
          color: v.$primary-color;
        }
      }
    }
    .popular-post {
      .post-item {
        border-bottom: 1px solid v.$color-07;
        padding-bottom: 10px;
        margin-top: 30px;
        &:last-child {
          border: 0;
        }
        .post-meta {
          margin-bottom: 5px;
          display: flex;
          gap: 10px;
          align-items: center;
          svg {
            path {
              fill: v.$primary-color;
            }
          }
          .badge-text {
            font-size: 14px;
            font-weight: v.$font-weight-medium;
            color: v.$gray-800;
          }
          
        }
        
        .post-title {
          line-height: 1;
          a{
            font-size: 18px;
            font-weight: 700;
            color: black;
          }

          &:hover{
            a{
              color: v.$primary-color;
            }
          }
        }
      }
    }
    .card-item {
      @include m.border-radius(20px);

      .section-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid v.$border-color-04;
        padding-bottom: 10px;
        .section-title {
          font-size: 24px;
          font-weight: v.$font-weight-bold;
        }
      }
      .catagory-wrap {
        .catagory-item {
          background: v.$gray-100;
          padding: 10px 30px;
          @include m.border-radius(50px);
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          font-size: 18px;
          font-weight: v.$font-weight-medium;
          color: v.$gray-800;
          &:hover {
            color: v.$primary-color !important;
          }
        }
      }
    }
    .popular-tags {
      .tags-cloud {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        a {
          padding: 4px 10px;
          border: 1px solid v.$border-color-04;
          @include m.border-radius(50px);
          color: v.$gray-800;
          font-size: 14px;
          font-weight: v.$font-weight-regular;
          @include m.transition(0.3s);
          &:hover {
            background: v.$primary-color;
            color: v.$white;
          }
        }
      }
    }
    .contact-card {
      .contact-content {
        .section-title {
          font-size: 26px;
        }
        .theme-btn {
          padding: 21px 17px;
        }
      }
    }
  }
}
