@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== client-box =======-*/
.blog-card-wrapper {
  &.style-three {
    .card-item {
      .card-img {
        position: relative;
        padding: 10px 10px 0px 10px;

        img {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          width: 100%;
          position: relative;
        }
        .badge-wrap {
          position: absolute;
          left: 20px;
          bottom: 20px;
          display: flex;
          gap: 20px;
          @include m.laptop_m_three {
            flex-wrap: wrap;
            row-gap: 8px;
          }

          .card-badge {
            display: flex;
            gap: 5px;
            @include m.border-radius(50px);
            background: v.$gray-100;
            padding: 6px 20px;
            svg {
              font-size: 15px;
              path {
                fill: v.$gray-900;
              }
            }

            .badge-text {
              font-size: 12px;
              font-weight: v.$font-weight-regular;
              line-height: 18px;
              color: v.$gray-800;
            }
          }
        }
      }
      .card-content {
        padding: 20px 30px 30px 30px;
        @include m.laptop_m_three {
          padding: 20px 20px 30px 20px;
        }

        .card-heading {
          padding-top: 20px;
          a {
            color: v.$gray-900;
            @include m.transition(0.3s);
            &:hover {
              color: v.$primary-color;
            }
          }
          .card-title {
            font-size: 24px;
            font-weight: v.$font-weight-bold;
            margin-bottom: 34px;
          }
        }
        .card--btn {
          .theme-btn {
            &.style-two {
              @include m.transition(0.8s);
              background: v.$white;
              border: 0;
              color: v.$gray-900;
              i::before {                
                color: v.$gray-900             
              }             
            }
          }
          &:hover {
            .theme-btn {
              background: v.$primary-color;
              color: v.$white;
              i{
                @include m.transform(rotate(60deg));
                &::before {                
                  color: v.$white; 
                }
              }
            }
          }
        }
      }
    }
  }
}
