@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== client-box =======-*/
.post-card {
  &.style-1 {
    @include m.transition(0.4s);

    border: 1px solid v.$border-color-03;
    @include m.md {
      margin-top: 15px;
    }
    @include m.sm {
      margin-top: 15px;
    }
    &:hover {
      border-color: v.$primary-color;
      .more-btn {
        svg {
          @include m.transform(rotate(0deg) !important);
        }
      }
    }
    @include m.border-radius(20px);
    .image {
      position: relative;
      padding: 10px 10px 0px 10px;
      img {
        width: 100%;
        position: relative;
        @include m.border-radius(20px);
      }
      .post-meta {
        display: flex;
        position: absolute;
        right: 20px;
        bottom: 20px;
        color: v.$gray-900;
        gap: 5px;
        .icon {
          font-size: 15px;
          width: 30px;
          height: 30px;
          background: v.$secondary;
          text-align: center;
          line-height: 30px;
          @include m.border-radius(50%);
        }
        .single-post-meta {
          font-size: 12px;
          font-weight: v.$font-weight-regular;
          @include m.border-radius(50px);
          background: v.$secondary;
          line-height: 18px;
          padding: 5px 10px;
          color: v.$gray-900;
        }
      }
    }
    .post-content {
      padding: 20px 30px 30px 30px;
      .post-meta {
        a {
          display: inline-block;
          margin-right: 8px;
          color: v.$gray-900;
          svg {
            width: 18px;
            height: 18px;
          }
          span {
            font-size: 12px;
            font-weight: v.$font-weight-regular;
            margin-left: 5px;
          }
        }
      }
      .card-heading {
        padding-top: 20px;
        a {
          color: v.$gray-900;
          &:hover {
            color: v.$primary-color;
            .title {
              color: v.$primary-color;
            }
          }
        }
        .title {
          font-size: 24px;
          font-weight: v.$font-weight-bold;
          margin-bottom: 34px;
        }
      }
      .more-btn {
        color: v.$gray-900;
        display: flex;
        gap: 5px;
        align-items: center;
        width: fit-content;
        &:hover {
          p {
            color: v.$primary-color;
          }
          i {
            @include m.transform(rotate(45deg));
              color: v.$primary-color;
          }
          
        }
        p {
          color: v.$gray-900;
          font-size: 18px;
          font-weight: v.$font-weight-bold;
        }
        i {
          @include m.transform(rotate(0deg));
          @include m.transition(0.4s);
          font-size: 22px;
          color: v.$gray-900;
          path {
            @include m.transition(0.4s);
          }
        }
      }
    }
  }
}
