@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== counter box =======-*/

.count-box-wrapper {
  &.style-one {
    @include m.md {
      padding-right: 0;
      padding-top: 0;
    }
    .counter-item {
      display: flex;
      align-items: center;
      padding: 30px 0;
      gap: 30px;

      &:nth-child(1) {
        border-bottom: 1px solid v.$primary-color;
      }
      @include m.device-768px {
        flex-wrap: wrap;
        margin-top: 0;
      }
      .coun-title {
        font-size: 74px;
        font-weight: v.$font-weight-bold;
        min-width: 164px;
        @include m.device-768px {
          font-size: 60px;
          line-height: 60px;
        }
      }
    }
  }
}
