@use "../../variables" as v;
@use "../../mixin" as m;
/*-======== counter box =======-*/

.count-box-wrapper {
  &.style-one {
    margin-top: 170px;
    
    @include m.lg{
      margin-top: 0;
    }
    @include m.md {
      padding-right: 0;
      padding-top: 0;
      margin-top: 0;
    }
    .counter-item {
      display: flex;
      align-items: center;
      padding: 30px 0;
      gap: 30px;

      @include m.lg{
        justify-content: center;
      }
      @include m.md{
        justify-content: center;
      }
      @include m.sm{
        justify-content: center;
      }

      &:nth-child(1) {
        border-bottom: 1px solid v.$primary-color;
      }
      @include m.device-768px {
        flex-wrap: wrap;
        margin-top: 0;
      }
      .coun-title {
        font-size: 64px;
        font-weight: v.$font-weight-bold;
        
        @include m.xl{
          font-size: 60px;
        }

        @include m.device-768px {
          font-size: 52px;
          line-height: 52px;
        }
        @include m.xxs{
          line-height: 30px;
        }
      }
    }
  }
}
